<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demomodel.configure.doubledatasource.textdoubledatasource.master.map.DemotxtMapper">
  <resultMap id="BaseResultMap" type="com.demomodel.configure.doubledatasource.textdoubledatasource.master.dao.Demotxt">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="demo" jdbcType="VARCHAR" property="demo" />
    <result column="sate" jdbcType="VARCHAR" property="sate" />
    <result column="nsmre" jdbcType="VARCHAR" property="nsmre" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, demo, sate, nsmre, address
  </sql>
  
  <select id="selectALL" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from demotxt
  </select>
  
  
  
</mapper>